/* Base Styles -------------------- */
.text-ecoce{ color: $ecoceGreen; }
.text-eMedium{ color: $ecoceMedium; }
.text-eDark{ color: $ecoceDark; }

.text-darkGray{ color: $eDarkGray;}
.text-gray{ color: $eGray;}
.text-lightGray{ color: $eLightGray;}

.text-900{
    font-weight: 900;
}

.text-500{
    font-weight: 500;
}

.text-400{
    font-weight: 400;
}

.ecoce-color{
    background-color: $ecoceGreen;
}

.eMedium-color{
    background-color: $ecoceMedium;
}

.eDark-color{
    background-color: $ecoceDark;
}