//Custom variables

// Descriptive color variables

// Functional color variables
$ecoceGreen:    #1EA24D;
$ecoceMedium:   #047A0C;
$ecoceDark:     #253237;
$eDarkGray:     #666666;
$eGray:         #5D5D5D;
$eLightGray:    #9B9B9B;


// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';

